@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* RESET */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  background: var(--app-bg);
  font-family: 'Iceland', system-ui, sans-serif;
}

/* LIGHT */
html{
  --app-bg: linear-gradient(
    242deg,
    rgb(247, 203, 203) 0%,
    rgb(247, 210, 210) 22%,
    rgb(243, 27, 27) 58%,
    rgb(252, 212, 212) 100%
  );
}

/* DARK */
html.dark{
  --app-bg: linear-gradient(
    131deg,
    rgb(38, 27, 27) 0%,
    rgb(77, 0, 0) 29%,
    rgb(145, 0, 0) 70%,
    rgb(79, 0, 0) 100%
  );
}

.premium-gradient {
  background: var(--app-bg);
  color: white;
}

.premium-text {
  background: var(--app-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.input-auth {
  @apply
    px-4 py-3 rounded-xl
    bg-neutral-100 dark:bg-neutral-800
    border border-black/10 dark:border-white/10
    focus:outline-none
    focus:ring-2 focus:ring-[#F9D52F]
    transition;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', system-ui, sans-serif;
  letter-spacing: 0.2em;
}

:root {
  --header-h: 64px; /* o el valor real */
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 999px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.55);
}

/* Remove arrows */
::-webkit-scrollbar-button {
  display: none;
}

/* =========================
   DARK MODE
   ========================= */
html.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.45);
}